@media (max-width: 1260px) {
    nav{
        flex-direction: column;
        border: none;
        padding: 5px 0;
        width: 100%;
    }
    .logo{
        border: none;
        padding: 5px 0;
        width: 100%;
        text-align: left;
        margin-left: 20px;
    }
    .links{
        flex-direction: column;
        align-items: center;
    }
    .links a{
        margin: 5px 0;
    }
    .social-media-icons{
        width: 100%;
        justify-content: center;
        border-top: 1px solid gray;
        padding: 10px 0;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 0;
        top: -10px;
    }
    .menus,.extra-icon{
        flex-direction: column;
        border: none;
        padding: 5px 0;
        width: 100%;
        display: none;
    }
    .extra-icon{
        flex-direction: row;
        justify-content: center;
    border-top: 1px solid gray;}

    }
